body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f8f9fa;
}

.logo-style {
    width: 250px; /* Ajustez la largeur selon la taille souhaitée pour le logo */
    height: auto; /* Garde le ratio de l'image */
    border-radius: 10px; /* Arrondit les bords */
    box-shadow: 0 0 8px rgba(0, 0, 0, 0.5); /* Ajoute un flou autour de l'image */
    margin-right: 5px; /* Ajoute un peu d'espace entre le logo et le titre */
    margin-left: 75px;
}

.navbar {
    background-color: #007bff;
    width : 100%;
    color: #fff;
    display: flex;
    padding: 20px;
    justify-content: space-between;
    align-items: center;
    position: fixed;
}

.navright{
    font-size: 20px;
    padding-right: 20px;
    text-decoration: underline;
}

.navleft {
    margin: 0;
    font-size: 32px;
    padding-left: 20px;
}

.button_how{
    align-items: center;
    background-color: #007bff;
    text-decoration: underline ;
    border : none;
}

.button_how:hover{
    align-items: center;
    background-color: #4da8ff;
}

#errorPopup {
    border: 0.5px solid grey;
    box-shadow: 2px 2px 7px grey;      }

.btn-popup {
    margin-bottom: 35px;
    padding-top: 0px;
    line-height: normal;
}

#titleText {
    margin-bottom: 1em;
    font-size: 2.5em;
    font-family: "Kanit", sans-serif;

}

.faute-titre {
    font-size: 20px;
}

.little-green-cube {
    display: inline-block;
    width: 15px;
    height: 12px;
    background-color: #198754;
    border-radius: 3px;
  }
  
  .little-blue-cube {
    display: inline-block;
    width: 15px;
    height: 12px;
    background-color: #0d6efd;
    border-radius: 3px;
  }
  
  .little-red-cube {
    display: inline-block;
    width: 15px;
    height: 12px;
    background-color: #dc3545;
    border-radius: 3px;
  }

.peno{
    display: flex;
    font-size: 1.1em;
    justify-content: center;
    margin-right: 0.5rem;
    align-items: center;
    align-content: center;
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
}

header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1050; /* Assure que le header reste au-dessus du drawer */
  }
  

.offcanvas-start {
    margin-top: 60px; /* Ajustez à la hauteur de votre header */
}

.offcanvas-body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100%;
  }


.main-content {
    margin-top: 10px;
    text-align: center;
}

.main-content2{
    text-align: center;
    width : 100vw;
    padding-top: 10px;
}

#first-title {
    margin-top: 30px;
    margin-bottom: 10px;
    font-size: 3em;
    color: black;
    font-family: "Kanit", sans-serif;
    font-weight: 400;
}


h3 {
    margin-bottom: 10px;
    margin-right: 10px;
    font-size: 18px;
    color: black;
    font-weight: normal;
    /*Moins gras*/
}

.penalité{
    font-weight: 500;
    line-height: 1.2;
    color: var(--bs-heading-color);
    margin-left: 0.5rem;
    margin-right:1rem;

}

.zone {
    width : 100%;
    color: black;
    padding-top : 10px;
    padding: 1%;
    display: flex;
    justify-content: space-between;
    align-items: start;
}

.progress {
    margin-bottom: 3em;
}


/* .editable-textarea{
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
} */

/*Style du bouton*/
.btn {
    display: inline-block;
    padding: 10px 20px;
    background-color: #007bff;
    color: #fff;
    text-decoration: none;
    border-radius: 5px;
    font-size: 18px;
    transition: background-color 0.3s ease;
    /* Adjust the margin as needed */
}

.btn-container {
    text-align: center;
    justify-content: center;
}

/*Style bouton quand il la souris passe dessus*/
.btn:hover {
    background-color: #4da8ff
}

.button-correction {
    margin-top: 1.5em;
    margin-bottom: 0.5em;
    width: 10em;
}

footer {
    background-color: #f0f0f0;
    padding: 20px;
    text-align: center;
    font-size: 14px;
    color: #666;
}

.downloadButton {
    margin-top: 1em;
}

/*Style d'erreur*/
.error {
    background-color: #ffcccc;
    /* Couleur de fond pour la surbrillance */
    padding: 2px;
    /* Ajoutez un peu d'espace autour du mot surbrillant */
    border-radius: 3px;
    /* Bords arrondis pour un aspect plus esthétique */
    cursor: pointer;
    /* Change le curseur pour indiquer qu'il est cliquable */
}

/*Style des fen^tre de pop-up*/
.popup {
    position: absolute;
    display: none;
    border: 1px solid #000;
    background-color: #fff;
    border-radius: 5px;
    padding: 10px;
    z-index: 10;
    width: auto;
    height: auto;
}

/*Style de la croix pour fermer la fênetre de pop-up*/
.close {
    float: right;
    cursor: pointer;
}

.depot-texte {
    display: flex;
    align-items: center;
    justify-content: center;
    align-items: start;
}

.depot-document {
    flex: 1;
    background-color: #e9e9e9;
    border-radius: 3%;
    padding: 5px 10px;
    line-height: 3em;
    font-size: 1.1em;
    margin-right: 2%;
    margin-left: 2%;
    margin-top: 50px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2); /* Ombre légère */


}

.editable-textarea-container {
    flex: 3;
}

.faute-ignoree {
    display: none;
}


.editable-textarea {
    text-align: left;
    border: 2px solid #ccc;
    margin: 2% 5% 1% 3%;
    box-sizing: border-box;
    height: 30vw;
    overflow-y: auto; /* Only allow vertical scrolling */
    overflow-x: hidden; /* Hide horizontal overflow */
    white-space: normal; /* Allows text to wrap to new lines */
    color: #555859;
}

#depot-fichier, #fileUpload:hover {
    cursor: pointer;
}

.important-title {
    font-size: 1.3em;
}

.depot-document:hover {
    background-color: #c7c7c7;
    cursor: pointer;
}

.important-line {
    font-weight: bold;
}

.editable-textarea2 {
    text-align: left;
    flex: 1;
    border: 1px solid #ccc;
    margin-left: 5%;
    margin-right: 5%;
    box-sizing: border-box;
    min-height: 25vw;
    overflow-y: auto; /* Only allow vertical scrolling */
    overflow-x: hidden; /* Hide horizontal overflow */
    white-space: normal; /* Allows text to wrap to new lines */
    background-color: white;
}


.penalty-container {
    display: flex;
    align-items: right;
    /* Align items vertically in the center */
    justify-content: center;
    /* Align items horizontally in the center */
    margin-top : 20px;
    margin-bottom: 20px;
}

.button-container {
    display: inline-block;
    padding: 10px 20px;
    background-color: #007bff;
    color: #fff;
    text-decoration: none;
    border-radius: 5px;
    font-size: 18px;
    transition: background-color 0.3s ease;
    margin-top: 20px;
    /* Adjust the margin as needed */
}

.button-container:hover {
    background-color: #4da8ff
}

#titleCorrection {
    font-family: "Kanit", sans-serif;
    font-size: 2.5em;
    margin-bottom: 0.8em;
}

#banniere {
    width : 30%;
    min-width: 250px;
    padding-top: 10px;
    margin-right: 0.8em;
    top: 50%; /* Positionnement vertical */
    right: 0; /* Positionnement sur la droite */
    padding: 10px; /* Espacement intérieur de la bannière */
    text-align: center; /* Centrer le contenu horizontalement */
    display: block;
}

.allpenaltiesBoxes {
    margin-bottom: 2.5em;
    padding: 1em;
    background-color: #e9e9e9; /* Couleur de fond de la bannière */
    border-radius: 25px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2); /* Ombre légère */
}

.form-control {
    min-width: 19%;
    max-width: 20%;
}

.calculPenalty {
    margin-top: 1em;
}
.content{
    text-align: left;
}
.btn2 {
    position: fixed; /* Fixe le bouton par rapport à la fenêtre du navigateur */
    bottom: 20px; /* Définit une marge de 20px depuis le haut de la fenêtre du navigateur */
    left: 50%; /* Positionne le bouton au centre horizontalement */
    transform: translateX(-50%); /* Décale le bouton de moitié de sa propre largeur vers la gauche pour le centrer */
    padding: 10px 20px; /* Espacement intérieur du bouton */
    background-color: #007bff; /* Couleur de fond du bouton */
    color: #fff; /* Couleur du texte */
    text-align: center; /* Centrer le texte horizontalement */
    text-decoration: none; /* Supprime le soulignement par défaut des liens */
    border: none; /* Supprime la bordure */
    border-radius: 5px; /* Arrondi des coins */
    cursor: pointer; /* Curseur de type pointer pour indiquer qu'il s'agit d'un élément cliquable */
    transition: background-color 0.3s ease; /* Transition fluide pour le changement de couleur de fond */
}


.btn2:hover {
    background-color: #0056b3; /* Changement de couleur de fond au survol */
}

.popup-content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    color: #fff;
}

.btn-toggle-offcanvas {
    position: fixed;
    top: 50%;
    right: 0;
    transform: translateY(-50%);
    background-color: #007bff;
    color: #fff;
    width: 2vw;
    min-width: 40px; /* Assure une largeur minimale pour les petits écrans */
    padding: 10px; /* Ajoute un peu de padding pour rendre le bouton plus cliquable */
    cursor: pointer; /* Change le curseur au survol du bouton */
}
  
.arrow-icon {
    display: inline-block;
    color: white;
  }

#invisiblebutton {
    display: none;
}


.paragraphe {
    margin-top: 20px;
    margin-bottom: 20px;
}

.editable-textarea.empty:before {
    content: attr(data-placeholder);
    color: grey;
    pointer-events: none;
  }

.correction-autre {
    margin-top: 2em;
}
  
  @media only screen and (min-width: 0px) and (max-width:767px) {

    #invisiblebutton {
        display: initial;
        background-color: #0D6EFD; /* Couleur de fond du bouton primaire Bootstrap */
        color: #FFFFFF; /* Couleur du texte du bouton primaire Bootstrap */
        border: 1px solid #0D6EFD; /* Bordure du bouton primaire Bootstrap */
        border-radius: 0.3rem;
        min-width: 2em;
        min-height: 2em;
        padding: 2px 5px;
        transition: background-color 0.3s ease;
        margin-top: 2em;
        margin-bottom: 1em;
        }
    
    #invisiblebutton:hover {
        background-color: #0B5ED7;
        border: 1px solid #0B5ED7;
        transition: background-color 0.3s ease;
    }

    .zone {
        flex-direction: column;
    }

    #banniere {
        min-width: 85%;
    }

    .depot-texte {
        display: initial;
    }

    .depot-document {
        max-width: 55%;
        margin: 1.5em 0;
        max-height: 30%;
        min-height: 0;
        flex:3;
        margin-left: auto;
        margin-right: auto;
        margin-bottom: 1em;
        font-size: 1em;
    }

    .editable-textarea {
        width: 80%;
        height: 300px;
        flex: 3;
        margin-left: auto;
        margin-right: auto;
        margin-top: 1em;
    }
}

.btn-bd-primary {
    --bs-btn-font-weight: 600;
    --bs-btn-color: var(--bs-white);
    --bs-btn-bg: var(--bd-violet);
    --bs-btn-border-color: var(--bd-violet);
    --bs-btn-border-radius: .5rem;
    --bs-btn-hover-color: var(--bs-white);
    --bs-btn-hover-bg: #{shade-color($bd-violet, 10%)};
    --bs-btn-hover-border-color: #{shade-color($bd-violet, 10%)};
    --bs-btn-focus-shadow-rgb: var(--bd-violet-rgb);
    --bs-btn-active-color: var(--bs-btn-hover-color);
    --bs-btn-active-bg: #{shade-color($bd-violet, 20%)};
    --bs-btn-active-border-color: #{shade-color($bd-violet, 20%)};
  }
  
#progress_bar_grammaire.bg-danger {
    background-color: green; /* Custom orange color */
}
.bareme-container {
    display: flex;
    justify-content: space-between; /* Espacement équitable entre les éléments */
    align-items: center; /* Alignement vertical au centre */
    flex-wrap: nowrap; /* Empêche les éléments de passer à la ligne suivante */
}

.penalité_container{
    align-content: center;
    margin-top: 0.1rem;
    margin-bottom: 0.1rem;
    flex: 1;
    min-width: 0; /* Permet aux conteneurs de rétrécir si nécessaire */
    margin: 5px; /* Un peu d'espace autour des conteneurs */
}

.accordeon_container{
    display: flex;
    justify-content: space-between;
}

.btn-grey {
    background-color: #58595b;
    color: white; /* Assure une bonne visibilité du texte sur le fond sombre */
}

#first-title {
    color: #00c2d1;
    margin-left: 480px;/* Déplace texte de bienvenue vers la droite */
}

/* Boutton Commencer */
#startButton {
    background-color: #58595b; /* couleur de fond du bouton */
    color: white; /* couleur du texte */
    border: none; /* retire la bordure */
    border-radius: 20px; /* arrondit les angles */
    padding: 10px 20px; /* ajuste l'espacement autour du texte */
    text-align: center; /* centre le texte */
    text-decoration: none; /* enlève la décoration du texte (s'il y en a) */
    display: inline-block; /* permet d'appliquer des marges */
    font-size: 16px; /* ajuste la taille du texte */
    margin: 4px 2px; /* espacement autour du bouton */
    transition-duration: 0.4s; /* rend les changements progressifs (si nécessaire) */
    cursor: pointer; /* change le curseur lors du survol */
}


/* spin de chargement en turquoise */
.spinner-grow.text-primary {
    color: #00c2d1 !important; /* Utilisez !important pour outrepasser les styles par défaut de Bootstrap */
}

/* style Rubik */
body {
    font-family: 'Rubik', sans-serif;
}

