<!-- correction.html -->
<!DOCTYPE html>
<html lang="fr">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Correction de Texte</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <script src="{{ url_for('static', filename='script.js') }}"></script>
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
</head>

<body>
    <!-- bootstrap imports -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.8/dist/umd/popper.min.js"
        integrity="sha384-I7E8VVD/ismYTF4hNIPjVp/Zjvgyol6VFvRkX/vR+Vc4jQkC+hVqc2pM8ODewa9r"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.min.js"
        integrity="sha384-0pUGZvbkm6XF6gxjEnlmuGrJXVbNuzT9qBBavbLwCsOGabYfZo0T0to5eqruptLy"
        crossorigin="anonymous"></script>
    <nav class="navbar  bg-primary justify-content-between">
        <a class="navbar-brand" style="color :white ; margin-left : 2% ; font-size: 32px;">Correcteur AI</a>
        <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#myModal"
            style="align-items: center ; margin-top: 0; margin-right : 2% ;text-decoration: underline;">
            Mode d'emploi
        </button>
    </nav>
    <div class="zone">
        <div class="main-content2">
            <h2>Voici votre texte corrigé</h2>
            <div class="content">
                <div id="text" contenteditable="false" class="editable-textarea2">
                    <!-- Ici, on parcourt les phrases et on ajoute une balise span avec la classe 'error' pour celles qui contiennent des fautes -->
                    {% for phrase in phrases %}
                    <span class="{{ 'error' if phrase.fautes else '' }}"
                        data-typeErreur="{{ phrase.fautes|map(attribute='typeErreur')|join('|') if phrase.fautes else '' }}"
                        data-description="{{ phrase.fautes|map(attribute='descriptionErreur')|join('|') if phrase.fautes else '' }}"
                        {% if phrase.fautes %}onclick="afficherPopup({{ loop.index0 }},event)" {% endif %}>
                        {{ phrase.contenu }}
                    </span>
                    {% endfor %}
                </div>
            </div>

            <div id="errorPopup" class="popup" style="display:none;">
                <span class="close" onclick="fermerPopup()">&times;</span>
                <div id="errorContent"></div>
            </div>
            
            <form action="/" method="post">
                <button type="submit" class="btn btn-primary btn-lg correction-autre">Corriger un autre texte</button>
            </form>
        </div>
        <button id="invisiblebutton">
            Corrections
            <span class="arrow-icon">&larr;</span>
        </button>
        <div id="banniere">
            <h4>Corrections</h4>
            <div class="offcanvas-body">
                <h5>{{resultat_sans_faute}}</h5>
                <div class=paragraphe>Conjugaison : <span id="nb_erreurs_conjugaison">{{nb_erreurs_conjugaison}}</span> <strong>Penalité conjugaison :</strong>
                    -<span id="penalite_conjugaison">{{penalite_conjugaison}}</span></div>
                <div class="progress" style="height: 3%">
                    <div id="progress_bar_conjugaison" class="progress-bar bg-primary"  role="progressbar" aria-valuenow="{{ ratio_conjugaison }}"
                        aria-valuemin="0" aria-valuemax="100" style="width:{{ ratio_conjugaison }}%">
                        {{ ratio_conjugaison }}%
                    </div>
                </div>
                <div class="paragraphe">Orthographe : <span id="nb_erreurs_orthographe">{{nb_erreurs_orthographe}}</span> <strong>Penalité orthographe :</strong>
                    -<span id="penalite_orthographe">{{penalite_orthographe}}</span>
                </div>
                <div class="progress" style="height: 3%" ;>
                    <div id="progress_bar_orthographe"class="progress-bar bg-danger"  role="progressbar" aria-valuenow="{{ ratio_orthographe }}"
                        aria-valuemin="0" aria-valuemax="100" style="width:{{ ratio_orthographe }}%">
                        {{ ratio_orthographe }}%
                    </div>
                </div>
                <div class=paragraphe>Grammaire : <span id="nb_erreurs_grammaire">{{nb_erreurs_grammaire}}</span> <strong>Penalité grammaire :</strong> 
                    -<span id="penalite_grammaire">{{penalite_grammaire}}</span>
                </div>
                <div class="progress" style="height: 3%" ;>
                    <div id="progress_bar_grammaire" class="progress-bar bg-success"  role=" progressbar" aria-valuenow="{{ ratio_grammaire }}"
                        aria-valuemin="0" aria-valuemax="100" style="width:{{ ratio_grammaire }}%">
                        {{ ratio_grammaire }}%
                    </div>
                </div>
                <div class="penalty-container">
                    <h4><u>Penalité totale :</u> -<span id="penalite_totale">{{penalite_totale}}</span></h4>
                </div>
                <form action="/download-correction" method="post">
                    <input type="hidden" name="texte_corrigé" value="{{ texte_corrigé }}">
                    <button type="submit" class="btn btn-primary">Télécharger la correction</button>
                </form>
            </div>
        </div>
    </div>
    <div class="modal" id="myModal">
        <div class="modal-dialog">
            <div class="modal-content">

                <!-- Modal Header -->
                <div class="modal-header">
                    <h4 class="modal-title">Mode d'emploi</h4>
                    <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
                </div>

                <!-- Modal body -->
                <div class="modal-body">
                    Rentrer votre texte à corriger et appuyer sur le bouton "corriger".
                </div>

                <!-- Modal footer -->
                <div class="modal-footer">
                    <button type="button" class="btn btn-primary" data-bs-dismiss="modal">Fermer</button>
                </div>
            </div>
        </div>
    </div>
</body>

</html>